---
import Base from "@layouts/Base.astro";
import DocsBar from "@components/DocsBar.astro";
---

<Base>
    <div
        class="mx-auto max-w-7xl px-4 py-8 grid grid-cols-1 md:grid-cols-[16rem_1fr] gap-8"
    >
        <DocsBar currentSlug={Astro.params.page} />
        <article class="prose prose-invert max-w-none">
            <slot />
        </article>
    </div>
</Base>
